// main: ../main.scss
/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features {
  .features-image {
    position: relative;
    min-height: 400px;

    img {
      position: absolute;
      inset: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }

  .features-item {
    h4 {
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 5px 0;
    }

    i {
      font-size: 48px;
      color: var(--accent-color);
      margin-right: 20px;
      line-height: 0;
    }

    p {
      font-size: 15px;
      color: color-mix(in srgb, var(--default-color), transparent 20%);
      margin: 0;
    }
  }
}