// main: ../main.scss
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/


.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;



  &:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
  }

  .container {
    position: relative;
    z-index: 3;
  }

  h2 {
    margin: 0;
    font-size: 56px;
    font-weight: 500;
    font-family: var(--nav-font);

    span {
      color: var(--accent-color);
    }
  }

  p {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
  }

  .icon-box {
    padding: 30px 20px;
    transition: ease-in-out 0.3s;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 70%);
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
      font-size: 32px;
      line-height: 1;
      color: var(--accent-color);
    }

    h3 {
      font-weight: 700;
      margin: 10px 0 0 0;
      padding: 0;
      line-height: 1;
      font-size: 20px;
      line-height: 26px;

      a {
        color: color-mix(in srgb, var(--default-color), transparent 20%);
        transition: ease-in-out 0.3s;
      }
    }

    &:hover {
      border-color: var(--accent-color);

      h3 a {
        color: var(--accent-color);
      }
    }
  }

  img {
    inset: 0;
    display: block;
    z-index: 1;
  }

  .hero-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      align-items:flex-start;
      justify-content:center;
      color: #ffffff; /* Adjust text color as needed */
      z-index: 2; /* Bring text content above the image */
  }

  .hero-text {
    margin-top: 200px; /* Offset the text 30% below the top of hero-content */
    display: flex;
   
   
  }

  .left-content{
    width: 45%; /* Adjust width to balance the text on each side */
    h2 {
      width: 70%;
      margin-bottom: 40px;
    }
  }

  .right-content {
    width: 45%; /* Adjust width to balance the text on each side */
  }
  
  .cta-btn {
    font-family: var(--default-font);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    margin-top: 20px;
    border-radius: 25px;
    transition: 0.5s;
    color: var(--surface-color);
    background-color: var(--accent-color);
  }
  
  .cta-btn:hover {
    background: var(--accent-color);
    color: var(--background-color);
    border: 2px solid var(--accent-color);
  }

  .cta-text {
    font-family: var(--default-font);
    font-weight: 400;
    font-size: 14px;
    color: var(--regular-text-color);
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .cta-space {
    height: 50px;
    display: block;
  }

  .values-read-more {
    
    padding-left: 50%;
    padding-top: 15%;
    span {
      display: block; /* Each item will be on a new line */
      margin-bottom: 50px; /* Add space between each item */
  }
  }

  .value-item {
    font-family: var(--default-font);
    color: var(--nav-color);
    font-weight: 200; /* Extra Light */
    font-size: 20px; /* Font size */
  }

  .cta-learn-more {
    font-style: italic;
    margin-left: -10px;
  }

  .cta-learn-more {
    display: inline-flex; /* Aligns icon with text */
    text-decoration: none; /* Remove underline from the link */
    color: var(--regular-text-color); /* Change link color to grey */
    font-size: 16px; /* Font size */
    
    i {
        margin-left: 8px; /* Space between text and icon */
        transition: margin-left 0.2s; /* Smooth transition for hover effect */
    }

    &:hover {
        color: darkgrey; /* Darker grey color on hover */
        
        i {
            margin-left: 12px; /* Increase space on hover for effect */
        }
    }
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 32px;
    }

    p {
      font-size: 18px;
    }
  }

  
  @media (min-width: 1200px) {
    img {
      width: 950px; /* Set width */
      height: 951px; /* Set height */
      margin: 0 auto; /* Center the hero section */
    }
  }

  @media (max-width: 1199px) {
    img {
      width: 650px; /* Set width */
      height: 651px; /* Set height */
      margin: 0 auto; /* Center the hero section */
    }
  }

  @media (max-width: 768px) {
    img {
      width: 500px; /* Set width */
      height: 501px; /* Set height */
      margin: 0 auto; /* Center the hero section */
    }
  }

}