// main: ../main.scss
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.products {

  .pro-desc {
    font-weight: 300;
    line-height: 2;
    font-size: 14px;
    color: var(--regular-text-color);
  }

  h1 {
    font-size: 2rem;
    text-transform:uppercase;
    font-weight: 200;
    margin-top: 5rem;
    margin-bottom: 3rem;
    letter-spacing: 5px;
  }


  h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }


  .breadcrumb {
    font-size: 0.875rem;
  }
  .thumbnail-img {
    cursor: pointer;

  }
  .product-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .star-rating {
    color: #ffcc00;
    font-size: 0.875rem;
  }
  .price {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .custom-radio .form-check-input:checked {
    background-color: #333;
    border-color: #333;
  }
  .add-to-cart-btn {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    width: 100%;
  }
  .icon-text {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
  }
  .icon-text i {
    font-size: 1.25rem;
    margin-right: 0.5rem;
  }

  .carousel-container {
    display: flex;
    align-items: flex-start;
  }
  .carousel-thumbnails {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
  }
  .carousel-thumbnails button {
    border: none;
    padding: 0;
    background: transparent;
  }
  .thumbnail-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 12px;
    opacity: 0.6;
    transition: opacity 0.3s;
  }
  .carousel-thumbnails .active .thumbnail-img {
    opacity: 1;
    border: 2px solid #333;
  }
  .carousel-inner img {
    max-width: 100%;
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
  }

  // Accordion Headers
.accordion-button {
  font-weight: bold;
  color: #333;
  background-color: #f8f9fa;
  padding: 1rem;

  &:focus {
    box-shadow: none;
  }
}

// Icon styling for Shipping & Returns
.bi {
  font-size: 1.2rem;
  color: #333;
}

.mb-4 {
  display: flex;
}

// Product Description Text
.container p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}

// FAQ Section Title





}