// main: ../main.scss
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.products {

  .pro-desc {
    font-weight: 300;
    line-height: 2;
    font-size: 14px;
    color: var(--regular-text-color);
  }



  h1 {
    font-size: 2.5rem;
    font-weight: 200;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 400;
  }




}