// Bootstrap Main
link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css', rel='stylesheet', type='text/css')

// Bootstrap icons
link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css', rel='stylesheet', type='text/css')

// Bootstrap accordian plus
link(href='https://unpkg.com/bs-brain@2.0.4/tutorials/accordions/accordion-6/assets/css/accordion-6.css', rel='stylesheet', type='text/css')

// aos animation
link(href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css", rel='stylesheet', type='text/css')

// swipe scrolling
link(href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css", rel='stylesheet', type='text/css')

// glightbox
link(href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.3.0/css/glightbox.min.css", rel='stylesheet', type='text/css')

// Google fonts
link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@200,300,400;500&display=swap', rel='stylesheet', type='text/css')

// Core theme CSS (includes Bootstrap)
link(href='css/styles.css', rel='stylesheet')