footer#footer.footer.dark-background
    div.container-fluid.container-xl.position-relative.d-flex.align-items-center.justify-content-between
        div.curved-rectangle
            div.rectangle-inside
                .row
                    .col-4
                        img(src='assets/legily/logo-white.png' alt='')
                    .col-2 
                        h6 information
                        p
                            a(href='ourvalues.html') Our values
                            br
                            a(href='#footer') Contact us 
                            br
                            | Privacy policy
                            br
                            | Terms & Conditions
                            br
                            | Queries
                    .col-2 
                        h6 Quick Links 
                        p
                            | Knowledge 
                            br
                            a(href='faq.html') FAQ
                            br
                            | Shipping and payment 
                            br
                            | Return & refund policy
                            br
                            | Track order
                            
                    .col-4.text-end
                        h6 contact
                        p  
                            | enquiries@legily.com
                .row.pt-5
                    .col-12
                        i.bi.bi-facebook.fs-3
                        i.bi.bi-twitter-x.fs-3
                        i.bi.bi-telegram.fs-3
                        i.bi.bi-instagram.fs-3
                        i.bi.bi-whatsapp.fs-3
    div.container-fluid.container-xl.position-relative.d-flex.align-items-center.justify-content-between
        div.last-footer
            .row 
                .col-6 
                    h2 If you didn’t find the products you are interested in or have questions?
                .col-6 
                    p Just send us your contact email and we will contact you.
                    p enquiries@legily.com

            .row
                .col-12 
                    hr
                    .copy 
                        .row    
                            .col-6
                                p &copy; Copyright 2024 Le Gily
                            .col-6  
                                p.privacy privacy