a#scroll-top.scroll-top.d-flex.align-items-center.justify-content-center.active(href="#")
    i.bi.bi-arrow-up-short
// Bootstrap core JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js')

//AOS Animation
script(src='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js')

//Swiper
script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js')

//GLightBox
script(src='https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.3.0/js/glightbox.min.js')

//Images Loaded
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/5.0.0/imagesloaded.pkgd.min.js')

//ISO Tope 
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js')

script(src='https://cdn.jsdelivr.net/npm/@srexi/purecounterjs@1.5.0/dist/purecounter_vanilla.min.js')

// Core theme JS
script(src='js/scripts.js')