doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Le Gily - Home

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/logo.ico')

        include includes/css.pug
        include includes/navbar.pug  

    body.index-page

        // Call the navbar mixin with currentPage parameter
        +navMixin('aboutus')
           
        section#about.about.section
            .container(data-aos="fade-up", data-aos-delay="100")
                h1.text-center.rounded-pill About Us
                .row
                    
                    .col-lg-7.order-2.order-lg-1.content(data-aos="fade-left", data-aos-delay="100")
                        h3(data-aos="fade-left", data-aos-delay="100") Our Brand Story
                        hr
                        p.text-justify
                            | True beauty radiates from within. Le Gily was born with this simple idea. We wanted to create a skincare experience that calms the mind, nourishes the skin, and uplifts the spirit. 
                        p.text-justify 
                            | We understand that stress is inevitable in this fast-paced lifestyle that takes a toll on your skin health and well-being. At Le Gily, we have formulated products with advanced epigenetic science and nature’s finest ingredients beyond just the surface. We treat inner peace and outer radiance. 
                        p.text-justify
                            | Le Gily is on a mission to revolutionize beauty and well-being through science. With a thorough understanding of the connection between emotional well-being and skin health, our products are formulated to treat you from within. 
                    .col-lg-5.order-1.order-lg-2(data-aos="flip-right", data-aos-delay="100")
                        img.mx-auto.d-block(src="assets/legily/about-us-our-brand-story.jpg", alt="", data-aos='zoom-in-up')
                .row.my-5
                    .col-lg-5.order-2.order-lg-1(data-aos="flip-left", data-aos-delay="100")
                        img.mx-auto.d-block(src="assets/legily/founder-note.jpg", alt="", data-aos='flip-right')
                    .col-lg-7.order-1.order-lg-2.content(data-aos="fade-right", data-aos-delay="100")
                        h3(data-aos="fade-right", data-aos-delay="100") Formulators Note
                        hr
                        p.text-justify
                            | Le Gily’s products come together at the intersection of cutting-edge science and ethically sourced natural ingredients. Our formulations speak to you on a cellular level and nurture your skin and soul. Our team of experts spends years perfecting products that enhance your skin’s natural rhythms while calming the mind.
                        p.text-justify
                            | Our approach is rooted in the principle that one-size-fits-none. Our products act to your individual needs by working with your skin’s unique genetic conception. We believe true beauty emerges by balancing the inner and outer self. Every product is crafted with precision and care, offering not just results but a sense of renewal that radiates from within.
                    
                .row.my-5
                    .col-lg-12.order-2.order-lg-1.content(data-aos="zoom-in-up", data-aos-delay="100")
                        h3(data-aos="zoom-in-up", data-aos-delay="100") Sustainable and Certified Beauty
                        hr
                        p.text-justify
                            | Le Gily - Where your well-being meets the planet’s. Our products are formulated with sustainable and ethically sourced ingredients and are packed with eco-friendly packaging. All our products are formulated with artificial color-free, paraben-free, eco-certified ingredients.
                        p.text-justify
                            | Our formulations are crafted in GMP-certified facilities, adhering to the highest global standards, including USFDA and EU regulations.

                   
            .container
                .row.justify-content-center
                    .col-auto
                        img.img-fluid(src="assets/legily/01-no-animals.png", alt="Image 1", data-aos='zoom-in')
                    .col-auto
                        img.img-fluid(src="assets/legily/02-cruelty-free.png", alt="Image 2", data-aos='zoom-in')
                    .col-auto
                        img.img-fluid(src="assets/legily/03-eco-friendly.png", alt="Image 3", data-aos='zoom-in')
                    .col-auto
                        img.img-fluid(src="assets/legily/04-halal-certified.png", alt="Image 4", data-aos='zoom-in')
                    .col-auto
                        img.img-fluid(src="assets/legily/05-env-friendly-packaging.png", alt="Image 5", data-aos='zoom-in')
        
        include includes/footer.pug
        
        include includes/scripts.pug