doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Le Gily - Home

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/logo.ico')

        include includes/css.pug
        include includes/navbar.pug

    body.index-page
        
        // Call the navbar mixin with currentPage parameter
        +navMixin('index')

        main.main
            .container-fluid.container-xl.position-relative.d-flex
                // Hero Section
                section#hero.hero
                    
                    .hero-content.me-auto.me-lg-0
                        .row.hero-text
                            .col-md-5.col-12.left-content(data-aos='fade-left', data-aos-delay='100')
                                h2 Where science meets skincare
                                span.cta-text
                                    p Enhance your inner and outer beauty 
                                        br
                                        | with Le Gily’s science -backed self-
                                        br
                                        | care. 
                                    a.btn.btn-lg.btn-sm.cta-btn(href='#', role='button') View Products
                                span.cta-space
                                span.cta-text
                                    p Experience tranquility with our Anti-
                                        br
                                        | Stress Serum, Transform your response 
                                        br
                                        | to everyday stress with our serum. 
                                    a.btn.btn-lg.btn-sm.cta-btn(href='#', role='button') Buy now

                    img(src='assets/legily/hero-bg.jpg', alt='', data-aos='zoom-in-up')        
                    
        include includes/footer.pug
        
        include includes/scripts.pug