doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Le Gily - Home

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap Main
        link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css', rel='stylesheet', type='text/css')

        // Bootstrap icons
        link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css', rel='stylesheet', type='text/css')
        
        // aos animation
        link(href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css", rel='stylesheet', type='text/css')

        // swipe scrolling
        link(href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css", rel='stylesheet', type='text/css')

        // glightbox
        link(href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.3.0/css/glightbox.min.css", rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body.index-page
        header#header.header.d-flex.align-items-center.fixed-top
            .container-fluid.container-xl.position-relative.d-flex.align-items-center.justify-content-between
                a.logo.d-flex.align-items-center.me-auto.me-lg-0(href='index.html')
                    img(src='assets/legily/logo.png' alt='')
                nav#navmenu.navmenu
                    ul
                        li.nav-item
                            a.active(href='#hero').nav-link Home
                        li.nav-item
                            a(href='#aboutus').nav-link About us
                        li.nav-item
                            a(href='#product').nav-link Product
                        li.nav-item
                            a(href='#services').nav-link Services
                        li.nav-item
                            a(href='#contact').nav-link Contact
                    i.mobile-nav-toggle.d-xl-none.bi.bi-list
                .cart-icons.d-flex
                    a.d-flex.align-items-center.me-3(href='#')
                        i.bi.bi-person.icon-circle
                    a.d-flex.align-items-center(href='#')
                        i.bi.bi-cart.icon-circle
        main.main
            // Hero Section
            section#hero.hero
                img(src='assets/legily/hero-bg.png', alt='', data-aos='fade-in')
                .hero-text.row(data-aos='fade-up', data-aos-delay='100')
                    .col-12.text-start 
                        h2
                            | Where science meets skincare.

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js')

        //AOS Animation
        script(src='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js')
        
        //Swiper
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js')

        //GLightBox
        script(src='https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.3.0/js/glightbox.min.js')

        //Images Loaded
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/5.0.0/imagesloaded.pkgd.min.js')

        //ISO Tope 
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js')

        script(src='https://cdn.jsdelivr.net/npm/@srexi/purecounterjs@1.5.0/dist/purecounter_vanilla.min.js')

        // Core theme JS
        script(src='js/scripts.js')